astroid==2.2.5
awesome-slugify==1.6.5
bitarray==0.8.3
blessings==1.7
cchardet==2.1.4
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
dash==0.43.0
dash-core-components==0.48.0
dash-html-components==0.16.0
dash-renderer==0.24.0
dash-table==3.7.0
dataflows==0.0.44
datapackage==1.5.1
decorator==4.4.0
et-xmlfile==1.0.1
Flask==1.0.3
Flask-Cache==0.13.1
Flask-Caching==1.7.1
Flask-Compress==1.4.0
GDAL==2.3.3
idna==2.8
ijson==2.3
inquirer==2.5.1
ipython-genutils==0.2.0
isodate==0.6.0
isort==4.3.15
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10
jsonlines==1.2.0
jsonpointer==1.14
jsonschema==2.6.0
jupyter-core==4.4.0
kvfile==0.0.6
lazy-object-proxy==1.3.1
linear-tsv==1.1.0
MarkupSafe==1.1.1
mccabe==0.6.1
mypy==0.670
mypy-extensions==0.4.1
nbformat==4.4.0
numpy==1.16.2
nycdb==0.1.19
openpyxl==2.4.11
pandas==0.24.2
plotly==3.9.0
psycopg2==2.7.7
pybloom-live==2.3.2
pylint==2.3.1
pyproj==1.9.6
python-dateutil==2.8.0
python-dotenv==0.10.1
pytz==2019.1
PyYAML==5.1
readchar==2.0.1
redis==3.2.1
regex==2019.3.12
requests==2.21.0
retrying==1.3.3
rfc3986==1.2.0
six==1.12.0
SQLAlchemy==1.3.1
tableschema==1.3.0
tableschema-sql==0.10.4
tabulate==0.8.3
tabulator==1.19.0
tqdm==4.31.1
traitlets==4.3.2
typed-ast==1.3.1
unicodecsv==0.14.1
Unidecode==0.4.21
urllib3==1.24.1
Werkzeug==0.15.4
wrapt==1.11.1
xlrd==1.2.0
xmljson==0.2.0
